@charset "utf-8";
/* CSS Document */
body {
	font: 12px/20px "黑體", Arial,
	padding: 0;
	margin: 0;
}
a:link {
 text-decoration: none;
}
a:visited {
 text-decoration: none;
}
a:hover {
 text-decoration: underline;
}
a:active {
 text-decoration: none;
}
.cs-north {
	height:80px;
	background:#B3DFDA;
}
.cs-north-bg {
	width: 100%;
	height: 100%;
	background:url(/css/images/header_bg.png) repeat-x;
}
.cs-north-logo {
	height: 20px;
	padding: 8px 20px 6px 5px;
	color:#8F5700;
	font-size:22px;
	font-weight:bold;
	text-align: right;
	text-decoration:none;
	background-color: #FFFEE6;
}
.cs-north-logo_1 {
	height: 20px;
	padding: 15px 0px 0px 5px;
	color:#fff;
	font-size:22px;
	font-weight:bold;
	text-decoration:none;
}
.cs-west {
	width:200px;
	padding:0px;
	border-left:1px solid #99BBE8;
}
.cs-south {
	height:25px;
	background:url(/css/images/panel_title.gif) repeat-x;
	padding:0px;
	text-align:center;
}
.cs-navi-tab {
	padding: 5px;
}
.cs-tab-menu {
	width:120px;
}
.cs-home-remark {
	padding: 10px;
}
