@charset "utf-8";
/* CSS Document */
#wrapper{
	width:1000px;
	//background-color:#000;
	margin: 0px auto;
}
#header{
	//background-color:#F69;
}
#header2{
	float:right;
	//background-color:#F69;
}
/*

左側邊欄

*/
#sidebar1{
	font-family: "黑體";
	width:210px;
	float:left;
	//background-color:#0FF;
}
.login{
	background-color:#f5deb3;
	border-style: groove
}
.login p{
	line-height:5px;
}
.login a{
	line-height:5px;
	font-size: 13px;
	text-decoration:none;
	color: #0000cd;
}
.login a:hover{
	height: 10px;
	color:#ff0000;
	text-decoration:none;
	text-decoration:underline;
	position:relative;
	left:2px;
	top:2px;

}
/*

中央

*/
#content{
	font-family:"黑體";
	width:550px;
	//background-color:#FF0000;
	float:left;
}
div, ul, li{
	margin:0;
	padding:0;
}
#container{
	width:530px;
	margin:5px auto;
}
/*

右側邊欄

*/
#sidebar2{
	font-family:"黑體";
	width:220px;
	float:right;
	//background-color:#60F;
}
.link{
	//background-color:#F69;
}
.link li{
	list-style-type: none;
}

.link a{
	height: 0px;
	color: #4D2078;
	text-decoration:none; 
}
.link a:hover{
	height: 10px;
	color: #9900CC;
	text-decoration:none;
	text-decoration:underline;
	position:relative;
	left:2px;
	top:2px;
}
/*

底

*/
#footer{
	font-family: "黑體";
	background-color:#3399FF;
	clear:both;
}
