@charset "utf-8";
/* CSS Document */
#menu{
	width:210px;
}
#menu ul{
	padding:0; 
	margin:0;
	list-style:none;
	width:202px;
	border:solid #ffa500 4px;
}

#menu li{
	background-color:#ffa500;
	list-style-type:none;
}

#menu a{
	display:block;
	padding:5px;
	color:white;

}
#menu li ul{
	position:absolute;
	left: auto;
}
.active{
	background-color:#ff00ff;
}
